
    /* .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); } */
    .header{

      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
    .list{
      margin-right: 30px;
      list-style: none;
    }
    .li1{
      display: inline;
      padding: 10px;
    }
    .secondpart{
      width: 100%;
/*       height: 100vh; /* Full viewport height */ */
      flex-wrap: wrap;
      overflow: auto;
      background-color: #f9f9f9;
      /* width: 100vw; */
      /* height: 400px; */
      display: flex;
      flex-direction: row;
      align-items:center;
      justify-content:flex-start;
    }
    .content{
      flex: 1;
      flex-direction: column;
      display: flex;
      justify-content: center;
    }
    .img11{
      width: 100%;
      height: 400px;
      background: url("./images/illustration-1.svg") no-repeat center center/cover;
      display: inline-block;
      /* height: 700px; */
      flex: 1;
      /* position: absolute; */
    }
    input{
      max-width: 250px;
      height: 20px;
      margin-top: 30px;
    }
    .btn1{
      height: 30px;
      max-width: 120px;
      padding-left: 20px;
      padding-right: 20px;
      margin-left: 20px;
      background-color: #2F65F9;
      border: none;
      color: white;
    }
    .img2{
      width: 100vw; 
    }
    .container2{
      flex-wrap: wrap;
      overflow: auto;
      height: 600px;
      /* width: 100vw; */
      display: flex;
      flex-direction: row-reverse;
      align-items: stretch;
      justify-content: space-evenly;
    }
    .part1{
      flex: 1;
      display: flex;
      flex-direction: column;
      /* align-items:center; */
      justify-content: center;
    }
    .part2{
      flex: 1;
      display: flex;
      overflow: auto;
      background: url("./images/illustration-2.svg")  no-repeat  center center/cover;
    }
    .link{
      /* margin-top: 0px; */
      color: #658B85;
      text-decoration: underline;
     }
     .link1{
      /* color: #658B85; */
      margin-top: 20px;
      margin-bottom: 20px;
     }
     .box{
      padding: 20px;
      max-width:300px ;
      margin-top: 20px;
      /* border: 2px solid black; */
      box-shadow: 5px 5px 5px 5px grey;
     }
     .boxmain{
      display: flex;

     }
     .text{
      font:900;
     }
     .manimg{
      /* margin-top: 9px; */
      border-radius: 20px;
      margin-right: 20px;
     }





     .part3{
      display: flex;
      flex-wrap: wrap;
      overflow: auto;
      flex-direction: row;
      flex-wrap: nowrap;
      background-color: #575989;
      color: white;
      padding: 30px;
      padding-bottom: 40px;
      margin: 0px;
    }
    .part3a{
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .part3b{
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .part3aa{
      max-width:400px ;
      max-height: fit-content;
    }




    .last{
      flex-wrap: wrap;
      overflow: auto;
      background-color:#07043B;
      display: flex;
      flex-direction: row;
      color: white;
    }
    .cont1{
      flex: 1;
    }
    .cont2{
      flex: 1;
    }
    .cont3{
      flex: 1;
    }
    .cont4{
      flex: 1;
    }
    ul{
      list-style: none;
    }
    .btn2{
      background-color: #2F65F9;
      border: none;
      color: white;
      margin-top: 10px;
      height: 30px;
    }
    @media ( max-width: 768px) and (min-width: 30px){
          .img11{
            background: url("./images/illustration-1.svg") no-repeat center center/cover;
            /* padding-top: 800px; */
            display:flex;
            /* height: 800px; */
          }
          .secondpart{
          flex-wrap: wrap;
          overflow: auto;
          background-color: #f9f9f9;
          /* width: 100vw; */
          height: 900px;
          display: flex;
          flex-direction: column;
          align-items:center;
          flex-direction: column-reverse;
          justify-content:flex-start;}
          
          .container2{
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          overflow: auto;
          flex-direction: column;
          height: 900px;
          /* width: 100vw; */
          display: flex;
          /* flex-direction: row-reverse; */
          align-items: stretch;
          justify-content: space-evenly;
        }
        .last{
          /* align-items: center; */
          flex-wrap: wrap;
          justify-content: center;
          overflow: auto;
          background-color:#07043B;
          display: flex;
          justify-content: center;
          flex-direction: column;
          color: white;
        }
        .part3{
          justify-content: center;
          display: flex;
          flex-wrap: wrap;
          overflow: auto;
          flex-direction: column;
          flex-wrap: nowrap;
          background-color: #575989;
          color: white;
          padding: 30px;
          padding-bottom: 40px;
          margin: 0px;
        }
        .part1{
          display: flex;
          align-items: center;
        }
        .content{
          display: flex;
          align-items: center;
        }

        
      }
    .a{
      text-decoration: none;
      color: black;
    }
     
